[user]
  name = AUTHOR NAME
  email = AUTHOR EMAIL

[core]
  excludesfile = ~/.gitignore
  pager = hunk pager

[color]
  ui = true
  diff = auto
  status = auto
  branch = auto

[diff]
  tool = hunk

[difftool]
  prompt = false

[difftool "hunk"]
  cmd = hunk difftool "$LOCAL" "$REMOTE" "$MERGED"

[alias]
  st = status
  co = checkout
  com = commit
  br = branch

[credential]
  helper = CREDENTIAL HELPER

[push]
  default = current
