[user]
  name = AUTHOR NAME
  email = AUTHOR EMAIL

[core]
  editor = vim
  excludesfile = ~/.gitignore

[color]
  ui = true
  diff = auto
  status = auto
  branch = auto

[alias]
  st = status
  co = checkout
  com = commit
  br = branch

[credential]
  helper = osxkeychain

[push]
  default = current
