git/.gitconfig

emacs/doom.d.symlink/local.el
Brewfile.lock.json
homebrew/Brewfiles/*.lock.json

.current_profile

nvim/.config/nvim/lazy-lock.json

logseq/.logseq/graphs/
logseq/.logseq/plugins/

clojure/.lein/profiles.d/auth.clj
clojure/.lein/repl-port
