{:logseq-vim-shortcuts {:version "v0.1.22", :repo "vipzhicheng/logseq-plugin-vim-shortcuts", :effect true, :theme false}
 :logseq-webpage-title {:version "v1.3.0", :repo "paulkinlan/logseq-webpage-title", :effect true, :theme false}
 :logseq-catppuccin {:version "v0.6.0", :repo "catppuccin/logseq", :effect false, :theme true}
 :logseq-monokai {:version "v0.1.1", :repo "tzcl/logseq-monokai", :effect false, :theme true}
 :logseq-bonofix-theme {:version "v3.10.3", :repo "sansui233/logseq-bonofix-theme", :effect false, :theme true}
 :logseq-bullet-threading {:version "v1.1.4", :repo "pengx17/logseq-plugin-bullet-threading", :effect false, :theme false}
 :logseq-plugin-gpt3-openai {:version "v1.13.2", :repo "briansunter/logseq-plugin-gpt3-openai", :effect true, :theme false}}
